* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.form-control {
  display: flex;
  align-items: center;
  width: 300px;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

/* CHECKBOX START */
.units-toggle-input {
  display: none;
}

.units-toggle-label {
  position: relative; 
  display: inline-block; 
  cursor: pointer;
  transition: all 0.2s; 
  font-size: 14px; 
  color: #333; 
}

.units-toggle-input:checked + .units-toggle-label {
  color: white; 
}

.units-toggle-label-text {
  display: inline-block; 
  width: 40px; 
  height: 20px; 
  line-height: 20px; 
  text-align: center; 
  border-radius: 20px; 
  background-color: #ccc; 
  transition: all 0.2s; 
}

.units-toggle-input:checked + .units-toggle-label .units-toggle-label-text {
  background-color: #333; 
}

.units-toggle-input:not(:checked)
  + .units-toggle-label
  .units-toggle-label-text::before {
  content: "C"; 
}

.units-toggle-input:checked
  + .units-toggle-label
  .units-toggle-label-text::before {
  content: "F"; 
}

.form-control {
  display: flex;
  align-items: center;
  width: 300px;
  position: relative;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

.form-control .units-toggle-label-text {
  position: absolute; 
  right: 10px;
  top: -5px; 
  transform: translateY(-50%);
}

/* CHECKBOX END  */

/* LOADING START */
.loading {
  display: none; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0;
  left: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); 
  z-index: 9999; 
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px; 
  margin-left: -20px; 
  width: 40px;
  height: 40px;
  border: 8px solid #333;
  border-radius: 50%;
  border-top-color: #f3f3f3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOADING END  */

.search-btn {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.results-container {
  width: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.results-container p {
  font-size: 14px;
  margin: 5px 0;
}
